{
  ANSI: '1',
  CLASSES-NOTES: 'No classes as yet.',
  CLASSES: '0',
  CODEBASE: 'Custom (Oxidus)',
  CONTACT: 'admin@localhost',
  CRAWL DELAY: '-1',
  CREATED: '2024',
  FAMILY: 'LPMud',
  GAMEPLAY: 'Adventure',
  GAMESYSTEM: 'Custom',
  GENRE: 'Fantasy',
  HIRING BUILDERS: '0',
  HIRING CODERS: '0',
  HOSTNAME: 'localhost',
  ICON: 'https://localhost/icon.jpg',
  INTERMUD: '',
  IP: '127.0.0.1',
  LANGUAGE: 'English',
  LOCATION: 'CA',
  MCP: '0',
  MINIMUM AGE: '18',
  PAY FOR PERKS: '0',
  PAY TO PLAY: '0',
  PUEBLO: '0',
  RACES-NOTES: 'No races as yet.',
  RACES: '0',
  SSL: '0',
  STATUS: 'Development',
  SUBGENRE: 'Medieval Fantasy',
  VT100: '0',
  WEBSITE: 'https://oxidus.online/',
  XTERM 256 COLORS: '1',
  XTERM TRU COLORS: '1',
}
