.scroll-to-top-button {
  background-color: var(--sl-color-gray-6) !important;
  border: 1px solid var(--sl-color-hairline-light) !important;
  color: var(--sl-color-white) !important;
}

.scroll-to-top-button:hover {
  background-color: var(--sl-color-gray-5) !important;
}

.scroll-to-top-button:active {
  background-color: var(--sl-color-gray-4) !important;
}
